@import '../../sass/abstract/_variables.scss';
@import '../../sass/reset/_reset.scss';



.header_color {
    background-color: $header_color;
    height: 6vh;
}

.nav_header {
    background-color: $background_grey;
   
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding-right: 10px;    
}

.nav a {
    text-decoration: none;
}